/* Video container styles */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .video-js {
    border: 2px solid #333;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  